.main-footer{
    color: #FFFAED;
    background-color: #1A535C;
    padding-top: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
    
}

.list-unstyled{
    list-style: none;
    color: #FFFAED;  
}

.col{
    display: flex;  
}

.row{
    display: flex;
    justify-content: space-around;
}

.items-container{
    flex-direction: row;
   
}

