/* SCREENSHOT CONTAINER */
   
   
   @media screen and (min-width: 769px) {
    .screenshot {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto ;
        padding-top: 5%;        
      
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 768px) {
    .screenshot {
        padding-bottom: 80px;
        margin-left: auto;
        margin-right: auto ;
        justify-content: center;
        padding-top: 10%;
       
    }
  }
  
  /* SCREENSHOT ITEM */
  
  
  @media screen and (min-width: 769px) {
    .screenshot-item {
        width: 16%;      

    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 768px) {
    .screenshot-item {
       width: 60%;
       margin-left: auto;
       margin-right: auto;
       
       
    }
  }





  
  /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
  
  /* .screenshot{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto ;
    padding-top: 5%;
    justify-content: center;
  } */
  
  
  /* .screenshot-item {
      width: 16%;
  } */
  
  /* @media screen and (min-width: 769px) {
    .home-image {
        padding-bottom: 80px;
        margin-left: auto;
        margin-right: auto ;
        justify-content: center;
        padding-top: 50%;
        width:50%;
        height: 50%;
        
      
    }
  } */
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 768px) {
    .home-image {
        padding-bottom: 80px;
        margin-left: auto;
        margin-right: auto ;
        justify-content: center;
        padding-top: 10%;
    }
  }




/* .home-image {
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto ;
    justify-content: center;
    padding-top: 10%;
} */

/* .home{
    width: 100%;
    padding-bottom: 50%;
    overflow: hidden;
  }
  
  .content-wrapper{
    width: 100%;
  }
  
  .content-wrapper img{
    overflow: hidden;
    width: 100%;
  }
  
  
  .text-wrapper{
    width: 100%;
    position: relative;
    margin-top: -30%;
  }
  
  .text-wrapper h1{
    text-align: left;
    color: #FFFAED;
    padding-left: 5%;
  } */
  
  /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
/*   
  @media screen and (min-width: 601px) {
    .text-wrapper h1 {
      font-size: 60px;
    }
  } */
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  /* @media screen and (max-width: 600px) {
    .text-wrapper h1 {
      font-size: 30px;
    }
  }
  
  .text-wrapper p{
    text-align: left;
    color: white;
    padding-left: 5%;
    width: 30%;
  }
  
  .padTop{
    padding-top:15%;
  }
  
  .padBottom{
    padding-bottom: 5%;
  }

  .text {
      padding-top: 15% ;
  }

  .container-home{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  } */