.Menu{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

tbody{
    font-family: poppins;
    color: #1A535C;
}

th{
    font-family: Lao MN;
    font-size: 25px;
    color: #1A535C;
}