body {
  background-color: #FFFAED;
}

.App {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: blue;
  color: #FFFAED;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-family: poppins;
}


h1{
  font-family: Lao MN;
  color: #1A535C;
}

h2{
  font-family: Lao MN;
  color: #1A535C;
}

h3{
  font-family: Lao MN;
  color: #1A535C;
}

h4{
  font-family: Lao MN;
  color: #1A535C;
}

p{
  font-family: Poppins;
  color: #1A535C;
}



.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.items-container{
  flex-direction: row;
  
}

.content-wrap{
  flex:1;
}

.home{
  width: 100%;
  overflow: hidden;
}

.content-wrapper{
  width: 100%;
  
  /* margin: 4% 10% 5% 10%; */
}

.content-wrapper img{
  overflow: hidden;
  width: 100%;
}


.text-wrapper{
  width: 100%;
  position: relative;
  margin-top: -19%;
}

.text-wrapper h1{
  text-align: left;
  color: #FFFAED;
  padding-left: 5%;
}

.text-wrapper p{
  text-align: left;
  color: white;
  padding-left: 5%;
  width: 30%;
}

.padTop{
  padding-top:15%;
}

.padBottom{
  padding-bottom: 5%;
}