/* This is the universal css file where styling to be applied to the whole website.  */


body {
  background-color: #FFFAED;
}

.App {
  text-align: center;
}

.button {
  
  
}


.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #1A535C;
  color: #FFFAED;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-family: poppins;
}


h1{
  font-family: Lao MN;
  color: #1A535C;
  font-size: 80px;

}

h2{
  font-family: Lao MN;
  color: #1A535C;
  
}

h3{
  font-family: Lao MN;
  color: #1A535C;
  font-size: 30px;
  /* font-size:x-large; */
}

h4{
  font-family: Lao MN;
  color: #1A535C;
}

p{
  font-family: Poppins;
  color: #1A535C;
}



.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.items-container{
  flex-direction: row;
  
}

.content-wrap{
  flex:1;
}

.logo {
  width: 5%;
}